* {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.header {
  width: 100%;
  height: 3.6rem;
  background: hsla(0, 0, 0, 0);
  position: fixed;
  top: 0;
  z-index: 999;
}

.imgs {
  overflow: hidden;
  width: 90px;
  height: auto;
}

.rightnva {
  height: 100%;
  width: 460px;
  float: right;
  align-items: center;
  justify-content: flex-end;
}

.tags {
  width: 100%;
  align-items: center;
  margin: 0;
}

.tags li {
  width: 80px;
  float: left;
  text-align: center;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s;
  border-bottom: 2px solid rgba(247, 241, 241, 0);
  padding-bottom: 2px;
}

.tags a {
  transition: all 0.5s;
}

.tags a:hover {
  color: #f1ebf1;
}

.tags li:hover {
  border-bottom: 2px solid rgba(247, 241, 241, 1);
}