* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  width: 100%;
  height: 3.6rem;
  background: hsla(0, 0, 0, 0);
  position: fixed;
  top: 0;
}

.header .ant-row {
  height: 100%;
}

.header .ant-col {
  height: 100%;
}

.header .ant-menu {
  height: 3.5rem;
  padding-top: 8px;
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
}

.header .ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.header .ant-menu-submenu {
  height: 100%;
}

.imgs {
  overflow: hidden;
  width: 90px;
  height: auto;
}